{% extends "base.html" %}
{% block h1_header %} 
About me
<h3>Un breve comentario del autor</h3>
{% endblock h1_header %}

{% block main %}
<section class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <br>
                    <img src="/media/mi_foto.jpg" alt="Imagen de perfil" class="rounded-circle mb-4" height="150px">
                    <h4 class="mb-3">Sofía Martínez Bauer</h4>
                    <p class="fst-italic">
                        ¡Hola! Soy Sofía Martínez Bauer, la creadora de esta página. Tengo 20 años y soy de Campana, Buenos Aires. Actualmente estudio Actuario en Economía en la Universidad de Buenos Aires y estoy terminando el curso de Python de CoderHouse.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
