{% extends "base.html" %}
{% block h1_header %}
¡Bienvenidos a Travelers' Haven!
<h5> Bienvenido al paraíso de los viajeros, explora el mundo a través de las experiencias de nuestros viajeros apasionados. Desde las más majestuosas montañas hasta las más tropicales playas, cada rincón del planeta tiene una historia que contar. Únete a nuestra comunidad y descubre destinos inspiradores, obtén consejos valiosos y comparte tus propias aventuras con el mundo. ¡Únete a nosotros y comienza a explorar!</h5>
{% endblock h1_header %}




