{% extends "base.html" %}
{% block h1_header %}
Editar perfil
<h3>Actualizá tu información</h3>
{% endblock h1_header %}

{% block main %}
<section class="bg-light">
    <div class="container">
        <form class="p-3 p-lg-4" action={% url "editar_perfil" %} method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="col-md-5 fst-italic">
                {{formulario.as_table}}
            </table>
            <br>
            <input class="btn btn-outline-primary fst-italic" type="submit" value="Editar">
            <a class="btn btn-outline-primary fst-italic" href={% url 'perfil' %} >Cancelar</a>
        </form>
    </div>
</section>
{% endblock main %}